form{
    text-align: center;
}

input[type="text"]{
    font-size: 2rem;
    width: 59%;
    border: solid 2px black;
}

.new-todo-submit{
    width: 60%;
    min-height: 2rem;
    background-color: black;
    color: white;
    font-size: 1.25rem;
    padding: 5px;
}